---
import { Button, buttonVariants } from '@/components/ui/button';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Slidenote" description='A scroll driven popover for React.'>
	<main>
	<div class="pt-64 mx-auto max-w-2xl text-center">
	<div class="flex flex-col">
		<h1 class="text-5xl font-bold leading-tight tracking-tighter">Slidenote</h1>
		<p class="font-light text-xl">Getting Started</p>
		</div>
		</div>
		</div>
	</main>
</Layout>
